@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700&display=swap');

/* VARIABLES */

:root {
    /* Backgrounds */

    --background-main: #111111;
    --background-header-footer: #414141;
    --background-header-footer-hover: #D9D9D9;
    --background-subtitles: #222222;
    --background-text: #FFFFFF;

    /* Font Sizes */

    --fonts-xxl: 4.2em;
    --fonts-xl: 3.0em;
    --fonts-lg: 2.2em;
    --fonts-md: 1.8em;
    --fonts-sm: 1.6em;
    --fonts-xs: 1.4em;

    /* Spacings */

    --spacing-xxl: 12.0rem;
    --spacing-xl: 9.6rem;
    --spacing-lg: 6.4rem;
    --spacing-md: 3.2rem;
    --spacing-sm: 1.6rem;
    --spacing-xs: 0.8rem;
}

/* NORMALIZE */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    color: white;
    background-color: var(--background-main);
}

header {
    background-color: var(--background-header-footer);
    display: flex;
    justify-content: space-between;
    padding: 0 var(--spacing-lg);
}

.banner {
    height: 76.5rem;
}

main {
    margin-left: var(--spacing-lg);
    margin-right: var(--spacing-lg);
    /* max-width: 1200px; */
}

h1 {
    font-weight: bold;
    font-size: var(--fonts-xxl);
}

h2 {
    font-weight: bold;
    font-size: var(--fonts-xl);
}

h3 {
    font-weight: normal;
    font-size: var(--fonts-lg);
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
    font-size: var(--fonts-md);
}

.mainSubtitle {
    background-color: var(--background-subtitles);
    padding: 0 var(--spacing-lg);
}

.mainSubtitle h2 {
    font-weight: normal;
}

button {
    background: linear-gradient(180deg, #C8C8C8 0%, rgba(200, 200, 200, 0.45) 100%);
    border-radius: 10px;
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    border: 0;
    padding: 0.5rem 0.1rem;
    width: var(--spacing-xl);
    height: var(--spacing-md);
}

button:hover {
    background: linear-gradient(180deg, #868686 0%, rgba(134, 134, 134, 0.44) 100%);
    cursor: pointer;
}

/* HEADER */

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--spacing-lg);
}

.hamburger__menu {
    display: none;
    font-size: 3.8em;
}

h1:hover {
    cursor: default;
}

.menu__pages {
    display: flex;
    /* gap: 2.9rem; */
}

.menu__pages .pages__items a {
    padding: 15px 10px;
    transition: all .4s;
}

.menu__pages .pages__items a:hover {
    background-color: #585858;
}

.menu__social {
    display: flex;
    gap: var(--spacing-sm);
}

.social__items i {
    transition: all 0.4s;
}

.social__items i:hover {
    transform: scale(1.4);
}

/* FOOTER */

footer {
    background-color: var(--background-header-footer);
    font-size: var(--fonts-xs);
    text-align: center;
    padding: var(--spacing-xs) 0;
}

/* INDEX */

.banner .banner__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.upcomingRelease {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: var(--spacing-md) 0;
}

.upcomingRelease__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 var(--spacing-sm);
    gap: var(--spacing-lg);
}

.upcomingRelease__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.upcomingRelease__text p {
    font-size: var(--fonts-xl);
}

.upcomingRelease__logos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.upcomingRelease__cover img {
    width: 44.0rem;
    height: 44.8rem;
}

.gallery h2 {
    padding: var(--spacing-md) 0;
}

.gallery {
    padding: 0 0 var(--spacing-md) 0;
}

.gallery__images {
    display: grid;
    grid-template-columns: 34.46% 16.77% 19.81% 28.96%;
    grid-template-rows: 24.2rem 34.1rem;
}

.gallery__images img {
    filter: grayscale(100%);
    transition: all .7s;
    width:100%;
    height: 100%;
}

.images__img1 {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
}

.images__img2 {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

.images__img3 {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
}

.images__img4 {
    grid-row: 2 / 3;
    grid-column: 2 / 4;
}

.images__img5 {
    grid-row: 1 / 3;
    grid-column: 4 / 5;
}

.gallery__images img:hover {
    filter: none;
}

.videos h2 {
    padding: var(--spacing-md) 0;
    }

.videos__box {
    display:flex;
    justify-content: space-between;
    padding: 0 0 var(--spacing-md) 0;
    flex-wrap: wrap;
}

.collaborations h2 {
    padding: var(--spacing-md) 0;
}

.collaborationsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 0 var(--spacing-lg) 0;
}

.collaborationsBox {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.colaborationsBox__textContainer {
    display: flex;
    flex-direction: column;
}

.collaborationsBox img {
    width: 25.6rem;
    height: 25.6rem;
    filter: drop-shadow(0px 4px 20px #000000);
}

.collaborationsBox__text1, .collaborationsBox__text2 {
    padding: var(--spacing-sm) 0;
}

.collaborationsBox__text1 p {
    font-size: var(--fonts-lg)
}

.collaborationsBox__text2 p {
    font-size: var(--fonts-sm)
}

.collaborationsBox__text1 .text1__title, .collaborationsBox__text2 .text2__title {
    font-weight: bold;
}

/* ABOUT */

.artist {
    padding: var(--spacing-md) 0 0 0;
}

.artist__section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-md) 0 var(--spacing-md) 0;
    gap: 22.4rem;
}

.artist__box p {
    padding: var(--spacing-xs) 0 var(--spacing-xs) 0;
}

.artist__box p, .influences__box td {
    text-transform: none;
    font-size: var(--fonts-sm)
}

.artist__box--circle {
    padding: 0 var(--spacing-lg) 0 0;
}

.artist__box--circle img {
    filter: grayscale(100%);
    border-radius: 50%;
    width: 25.6rem;
    height: 25.6rem;
    transition: all .9s;
}

.artist__box--circle img:hover {
    filter: none;
}

.influences {
    padding: var(--spacing-md) 0 var(--spacing-lg) 0;
}

.influences__box {
    padding: var(--spacing-md) 0 0 0;
}

.box__table {
    width: 100%;
}

.box__table td {
    text-align: center;
}

/* GEAR */

.guitars {
    padding: var(--spacing-md) 0 0 0;
}

.gear {
    display: flex;
    justify-content: space-between;
    padding: var(--spacing-md) 0 var(--spacing-lg) 0;
    flex-wrap: wrap;
}

.effects .gear {
    justify-content: flex-start;
    gap: 18.0rem;
}

.gear__text {
    font-weight: 400;
    text-align: center;
    font-size: var(--fonts-xs);
}

.gear img {
    transform: scale(0.92);
    transition: all 0.7s;
}

.gear img:hover {
    transform: scale(1.0);
}

.gear__picks {
    display: flex;
    justify-content: center;
}

/* MUSIC */

.musicBox {
    padding: var(--spacing-md) 0 0 0;
}

.musicBox__songs {
    display: flex;
    justify-content: flex-start;
    gap: 2.25rem;
    padding: var(--spacing-md) 0;
    flex-wrap: wrap;
}

.musicBox__items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.musicBox__items img {
    width: 28.8rem;
    height: 28.8rem;
}

.musicBox__buttons {
    display: flex;
    justify-content: center;
    padding: var(--spacing-sm);
    gap: var(--spacing-sm);
}

/* CONTACT */

.form {
    padding: var(--spacing-md) 0;
}

.contactForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--spacing-md) 0;
}

.contactForm label {
    font-size: var(--fonts-md);
    text-transform: none;
    font-weight: 500;
}

.contactForm__box {
    display: flex;
    flex-direction: column;
}

.contactForm__box .box__container {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-lg);
    padding: 0 0 var(--spacing-md) 0;
}

.box__container .container__group {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.container__group input {
    width: 28.8rem;
    height: var(--spacing-md);
    border-radius: 1rem;
    padding: 0 0 0 0.5em;
    font-size: var(--fonts-sm);
}

.container__group textarea {
    width: 64.0rem;
    height: 32.0rem;
    border-radius: 1rem;
    padding: 0 0 0 0.5em;
    font-size: var(--fonts-sm);
}

.box__container--button {
    display: flex;
    justify-content: center;
}

/* MEDIAS */

/* Mobile (DESACTIVADA PARA PROBAR BOOTSTRAP) */

@media (max-width: 480px) {

    /* html {
        font-size: 50%;
    }

    header {
        padding: 0 var(--spacing-md);
        align-items: center;
    }
    
    h2 {
        font-weight: bold;
        font-size: var(--fonts-lg);
    }
    
    h3 {
        font-weight: normal;
        font-size: var(--fonts-md);
    }

    button {
        font-size: 12px;
    } */

    /* .menu__pages, .menu__social {
        display: none;
    }

    .menu .hamburger__menu {
        display: block;
    }

    main {
        margin-left: var(--spacing-md);
        margin-right: var(--spacing-md);
    }

    .mainSubtitle {
        padding: 0 var(--spacing-md);
    } */

    /* Index */

    /* .upcomingRelease {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 0.5fr;
        padding: var(--spacing-md) 0;
    }

    .upcomingRelease__text p {
        font-size: var(--fonts-lg);
    }

    .upcomingRelease__box {
        padding: var(--spacing-md) 0 0 0;
        gap: var(--spacing-md);
    }

    .upcomingRelease__cover {
        grid-row: 1 / 2;
        display: flex;
        justify-content: center;
    }

    .upcomingRelease__logos {
        display: flex;
        justify-content: center;
    }

    .upcomingRelease__logos img {
        block-size: var(--fonts-xxl)
    }

    .gallery__images {
        display: grid;
        grid-template-columns: 33.34% 28.33% 38.33%;
        grid-template-rows: 19.0rem 18.0rem 26.0rem;
    }
    
    .gallery__images img {
        filter: grayscale(100%);
        transition: all .7s;
        width:100%;
        height: 100%;
    }
    
    .images__img1 {
        grid-row: 1 / 3;
        grid-column: 1 / 3;
    }
    
    .images__img2 {
        grid-row: 1 / 2;
        grid-column: 3 / 4;
    }
    
    .images__img3 {
        grid-row: 2 / 3;
        grid-column: 3 / 4;
    }
    
    .images__img4 {
        grid-row: 3 / 4;
        grid-column: 2 / 4;
    }
    
    .images__img5 {
        grid-row: 3 / 4;
        grid-column: 1 / 2;
    }

    .videos__box {
        flex-direction: column;
        gap: var(--spacing-md);
        padding: 0 0 var(--spacing-md) 0;
    }

    .videos__box iframe {
        width: 100%;
        height: 28.0rem;
    }

    .collaborationsContainer {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: var(--spacing-md);
        padding: 0 0 var(--spacing-lg) 0;
    }

    .collaborationsBox {
        grid-template-columns: 0.75fr 1fr;
    }

    .collaborationsBox img {
        width: 18.0rem;
        height: 18.0rem;
    }

    .collaborationsBox__text1 p {
        font-size: var(--fonts-md);
    }
    
    .collaborationsBox__text2 p {
        font-size: var(--fonts-xs);
    } */

    /* About */

    /* .artist__section {
        flex-direction: column;
        flex-flow: column-reverse;
        justify-content: flex-start;
        align-items: center;
        gap: var(--spacing-md);
    }

    .artist__box--circle {
        padding: 0;
        order: 1;
    }

    .artist__box--circle img {
        filter: none;
    }

   .artist__box p {
    text-align: center;
   } */

    /* Gear */

    /* .gear {
        justify-content: center;
        gap: var(--fonts-md);
    }

    .gear img {
        transform: none;
    }
    
    .effects .gear {
        justify-content: center;
        gap: var(--fonts-md);
    }

    .gear__bass img {
        width: 100%;
    } */

    /* Music */

    /* .musicBox__songs {
        justify-content: center;
    } */
}


/* BOOTSTRAP DESRESET */

body {
    line-height: normal;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
    line-height: normal;
}

p {
    margin-bottom: 0;
}

ul {
    padding-left: 0;
    margin-bottom: 0;
}

hr {
    margin: 0;
    opacity: initial;
}

.container {
    padding-right: 0;
    padding-left: 0;
}

/* About */

.box__column {
    padding: 0 0 var(--spacing-md) 0;
    justify-content: center;
}

.box__column li {
    font-family: Montserrat, sans-serif;
    font-size: var(--fonts-sm);
    text-transform: capitalize;
    text-align: center;
}

.menu__pages a:hover {
    color: white;
}

.social__items i:hover {
    transform: scale(1.4);
    color: white;
}

.artist__section {
    gap: 0;
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
}

.artist__box {
    padding-right: 0;
    padding-left: 0;
}

.artist__box--circle {
    display: flex;
    justify-content: center;
    padding: 0;
}

.column__list1, .column__list2, .column__list3, .column__list4, .column__list5 {
    padding-left: 0;
    padding-right: 0;
}

/* Music */

.musicBox__items img {
    width: 24.5rem;
    height: 24.5rem;
}

.musicBox__songs {
    justify-content: center;
}

/* MEDIAS DESRESET BOOTSTRAP */

@media screen and (max-width: 992px) {
    
    /* Header */

    .menu__pages, .menu__social {
        display: none;
    }
    
    .menu .hamburger__menu {
        display: block;
    }

    /* Artist */

    .artist__section {
        flex-direction: column-reverse;
        gap: var(--spacing-md);
    }

    .artist__box p {
        text-align: center;
    }
    
    .box__column {
        gap: var(--spacing-sm);
    }
}

@media screen and (max-width: 768px) {
    
    header {
        align-items: center;
    }

    h1 {
        font-size: var(--fonts-xl);
    }

    h2 {
        font-size: var(--fonts-lg);
    }

    .hamburger__menu {
        font-size: 3.2em;
    }
}

