/* NORMALIZE */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;

    body {
        font-family: Montserrat, sans-serif;
        text-transform: uppercase;
        color: white;
        background-color: $background-main;

        li {
            list-style-type: none;

            a {
                text-decoration: none;
                color: white;
                font-size: $fonts-md;
            }
        }

        .banner {
            height: 100vh;
        }

        h2 {
            font-weight: bold;
            font-size: $fonts-xl;

            @media (max-width: 445px) {
                text-align: center;
            }
        }

        .mainSubtitle {
            background-color: $background-subtitles;
            padding: 0 $spacing-lg;

            h2 {
                font-weight: normal;

                @media (max-width: 475px) {
                    text-align: left;
                }
            }

            @media (max-width: 1150px) {
                padding: 0 $spacing-md;
            }

            @media (max-width: 475px) {
                padding: 0 $spacing-sm;
            }
        }

        main {
            margin-left: $spacing-lg;
            margin-right: $spacing-lg;

            h3 {
                font-weight: normal;
                font-size: $fonts-lg;
            }

            @media (min-width: 1367px) {
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-left: auto;
                margin-right: auto;
                max-width: 1238px;
            }

            @media (max-width: 1150px) {
                margin-left: $spacing-md;
                margin-right: $spacing-md;
            }

            @media (max-width: 475px) {
                margin-left: $spacing-sm;
                margin-right: $spacing-sm;
            }
        }

        button {
            background: linear-gradient(180deg, #C8C8C8 0%, rgba(200, 200, 200, 0.45) 100%);
            border-radius: 10px;
            text-transform: uppercase;
            text-align: center;
            font-size: 16px;
            font-weight: 400;
            font-style: normal;
            border: 0;
            padding: 0.5rem 0.1rem;
            width: $spacing-xl;
            height: $spacing-md;
        
            &:hover {
                background: linear-gradient(180deg, #868686 0%, rgba(134, 134, 134, 0.44) 100%);
                cursor: pointer;
            }

            @media (max-width: 768px) {
                font-size: 12px;
            }
        }
    }
}



