/* VARIABLES */

/* Backgrounds */

$background-main: #111111;
$background-header-footer: #414141;
$background-header-footer-hover: #D9D9D9;
$background-subtitles: #222222;
$background-text: #FFFFFF;

/* Font Sizes */

$fonts-xxl: 4.2em;
$fonts-xl: 3.0em;
$fonts-lg: 2.2em;
$fonts-md: 1.8em;
$fonts-sm: 1.6em;
$fonts-xs: 1.4em;

/* Spacings */

$spacing-xxl: 12.0rem;
$spacing-xl: 9.6rem;
$spacing-lg: 6.4rem;
$spacing-md: 3.2rem;
$spacing-sm: 1.6rem;
$spacing-xs: 0.8rem;
