/* HEADER */

header {
    background-color: $background-header-footer;
    display: flex;
    justify-content: space-between;
    padding: 0 $spacing-lg;

    h1 {
        font-weight: bold;
        font-size: $fonts-xxl;

        &:hover {
            cursor: default;
        }
    }

    #check {
        display: none;
    }
    
    #btn {
        cursor: pointer;
        display: none;
        font-size: 3.0em;
    }

    .menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: $spacing-lg;
    
        .menu__pages {
            display: flex;

            .pages__items a {
                padding: 15px 10px;
                transition: all .4s;
        
                &:hover {
                    background-color: #585858;
                }
                
            }
        }
    
        .menu__social {
            display: flex;
            gap: $spacing-sm;
    
            .social__items i {
                transition: all 0.4s;
    
                &:hover {
                    transform: scale(1.4);
                }
            }
        }
    }
}

@media (max-width: 1200px) {

    h1 {
        font-size: $fonts-xl;
    }

    .pages__items a {
        padding: 8px 10px;
    }
}

@media (max-width: 1050px) {

    header {
        align-items: center;

        #check {
            display: none;

            #check:checked ~ .menu {
                top: 0;
                position: fixed;
                z-index: 1;
            }
        }

        #btn {
            display: initial;
            font-size: $fonts-xl;
            position: fixed;
            z-index: 2;
            top: 0.35rem;
            right: $spacing-lg;
        }

        .menu {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            position: fixed;
            width: 100%;
            height: 100vh;
            top: -200%;
            left: 0;
            padding: $spacing-xxl;
            background-color: rgba(0, 0, 0, 0.555);
            transition: all .7s;
            font-size: $fonts-md;
            font-weight: bold;

            .menu__pages {
                display: flex;
                gap: 2.9rem;
                flex-direction: column;
                justify-content: center;
                align-content: center;
                text-align: center;
            }

            .menu__social {
                display: flex;
                gap: $spacing-lg;
            }
        }
    }
}

@media (max-width: 768px) {

    header {
        padding: 0 $spacing-lg;
        align-items: center;
    }
}













