/* CONTACT */

.form {
    padding: $spacing-md 0;

    .contactForm {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: $spacing-md 0;

        .contactForm__box {
            display: flex;
            flex-direction: column;

            .box__container {
                display: flex;
                flex-direction: row;
                gap: $spacing-lg;
                padding: 0 0 $spacing-md 0;

                @media (max-width: 1050px) {
                    flex-direction: column;
                    gap: $spacing-md;
                }

                .container__group {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    
                    label {
                        font-size: $fonts-md;
                        text-transform: none;
                        font-weight: 500;
                    }

                    input {
                        width: 28.8rem;
                        height: $spacing-md;
                        border-radius: 1rem;
                        padding: 0 0 0 0.5em;
                        font-size: $fonts-sm;
                        
                        @media (max-width: 1050px) {
                            width: 45.0rem;
                        }
                    }

                    textarea {
                        width: 64.0rem;
                        height: 32.0rem;
                        border-radius: 1rem;
                        padding: 0 0 0 0.5em;
                        font-size: $fonts-sm;

                        @media (max-width: 1050px) {
                            width: 45.0rem;
                        }
                    }
                }
            }

            .box__container--button {
                display: flex;
                justify-content: center;
            }
        }
    }
}
